{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Capitan America</h1>
        <p>
            Lorem ipsum dolor sit, kdasdk dlkdld as lkdlkdlad kdlakd lkd lkd alkd lka dlkasld
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/about.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}